.responsive .react-colorful {
    width: auto;
}

.color-pick-rounded .react-colorful__saturation {
    border-radius: 4px 4px 0px 0px;
}
.color-pick-rounded-saturation .react-colorful__hue {
    border-radius: 0px 0px 0px 0px;
}

.small .react-colorful {
    width: 96px;
    height: 96px;
    aspect-ratio: 1 / 1;
}
.small .react-colorful__hue {
    height: 20px;
}

/* Custom pointer */
.custom-pointers-small .react-colorful__saturation-pointer {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.custom-pointers-small .react-colorful__hue-pointer,
.custom-pointers-small .react-colorful__alpha-pointer {
    width: 10px;
    border-radius: 12px;
}
